.button {
  background: #4286F4;
  border-radius: 8px;
  color: white;
  transition: .3s ease;
  border: 2px solid transparent;

  svg path, svg rect {
    transition: .3s ease;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: white;
      color: #4286F4;
      border-color: #4286F4;

      svg path, svg rect {
        fill: #4286F4;
      }
    }
  }
}