.menu {
  display: flex;
  gap: 8px;

  @media (max-width: 990px) {
    padding: 1px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 56px;
    align-items: center;
    
    background: #FFFFFF;
    border-top: 2px solid #E5E7EB;
    box-shadow: 0px -2px 24px rgba(0, 0, 0, 0.15);
  }
}
