.review {
  font-family: 'Proxima Nova', Helvetica, sans-serif;
  display: flex;
  padding: clamp(15px, 0.511rem + 1.70vw, 30px);
  gap: 30px;

  @media (max-width: 800px) {
    flex-direction: column;
  }

  &__client-info {
    flex: 1 0 clamp(140px, -1.667rem + 20.83vw, 240px);
    display: flex;
    flex-direction: column;

    @media (max-width: 800px) {
      flex-direction: row;
      align-items: center;
      flex: 1 0 auto;
    }
  }

  &__client-ava {
    margin-bottom: 13px;

    img {
      border: 10px solid #86BEBB;
      display: flex;
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: cover;
      object-position: center;
    }

    @media (max-width: 800px) {
      margin-bottom: 0;
      margin-right: 10px;
      img {
        width: 66px;
        border-width: 2px;
      }
    }
  }

  &__client-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #264E58;
    margin-bottom: 5px;

    @media (max-width: 800px) {
      margin-bottom: 1px;
    }
  }

  &__client-position {
    font-size: 14px;
    line-height: 17px;
    color: #A5A5A5;
    margin-bottom: 10px;

    @media (max-width: 800px) {
      margin-bottom: 4px;
    }
  }

  &__stars {
    display: flex;
    align-items: center;
    gap: 6px;

    @media (max-width: 800px) {
      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  &__content {
    position: relative;
    flex: 1 1 auto;
    padding: 0;
    max-height: 353px;
    overflow: hidden;
    // width: 500px;

    @media (max-width: 800px) {
      max-height: 193px;
    }
  }

  &__content-full-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0 10px;
    padding-top: 113px;
    gap: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #4F493F;
    background: linear-gradient(180deg, rgba(239, 245, 245, 0) 0%, #EFF5F5 69.5%);
  }

  &__title {
    font-weight: 600;
    font-size: clamp(18px, 0.955rem + 0.68vw, 24px);
    line-height: 29px;
    color: #6E6659;
    margin-bottom: clamp(5px, 0.028rem + 1.14vw, 15px);
  }

  &__text {
    font-size: 14px;
    line-height: 17px;
    color: #6E6659;
    margin-bottom: clamp(5px, 0.028rem + 1.14vw, 15px);
    
    @media (max-width: 767px) {
      display: block;
    }
  }

  &__images {
    display: none;
    position: relative;
    width: 1px;
    
    .swiper {
      overflow: hidden;
      display: flex;
      width: 100%;
      height: 100%;
    }

    .swiper-wrapper {
      display: flex;
    }

    .swiper-slide {
      width: 100%;
    }
  }

  &__img-wrap {
    // width: 120px;
    // height: 170px;
    
    img {
      object-fit: cover;
      object-position: center;
      filter: none;
      transition: .3s ease;
    }
  }

  &__img-link {

    @media (any-hover: hover) {
      &:hover {
        .img-zoom__img {
          filter: brightness(.4);
        }
      }
    }
  }

  &__images-btn {
    transition: .3s ease;
    padding: 9px;
    position: absolute;
    display: flex;
    width: clamp(100px, 2.955rem + 13.18vw, 216px);
    right: 0;
    top: 0;
    bottom: 0;
    align-items: center;
    justify-content: flex-end;

    background: linear-gradient(90deg, rgba(239, 245, 245, 0) 0%, #EFF5F5 85.5%);

    &:nth-of-type(1) {
      transform: scaleX(-1);
      right: auto;
      left: 0;
    }

    &[disabled] {
      opacity: 0;
      pointer-events: none;
    }
  }
}