@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SFProText-Regular.woff2') format('woff2');
  font-weight: normal; /* Regular */
  display: swap;
}

@font-face {
  font-family: 'SF Pro Text';
  src: url('../fonts/SFProText-Bold.woff2') format('woff2');
  font-weight: bold; /* Bold */
  display: swap;
}
